.range-picker {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  &--jalaali {
    direction: rtl;
  }

  &--georgian {
    direction: ltr;
  }

  &__navigators {
    position: relative;
    background-color: red;
  }

  &__containers {
    background-color: greed;
    width: 100%;
  }
}
