.range-picker__month {
  padding: 1rem;
  max-width: 420px;
  background-color: orange;

  &--jalaali {
    direction: rtl;
  }

  &--georgian {
    direction: ltr;
  }

  &-days-container {
    display: grid;
    row-gap: 0.4rem;
    grid-template-columns: repeat(7, 1fr);
  }
}
